* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container {
    max-width: 1600px;
    /* background-color: rgb(173, 97, 97); */
    margin: 0 auto;
}

/* header design */
/* nav bar design */
.nav-container {
    /* width: 66%;
    max-width: 1057px; */
    margin: 0 120px;
    gap: 346px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-img {
    padding: 16px 0;
}

.nav-container .nav-img img {
    width: 139px;
    height: 60px;
}


/* nav list design */
.nav-list {
    display: flex;
    gap: 32px;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.nav-btn {
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* hero section design */
.hero-container {
    width: 100%;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    padding: 115.5px 120px 117.5px 120px;
}

.hero-info {
    width: 1360px;
    height: 379px;
    /* background-color: red; */
    text-align: center;
}

.hero-top-btn {
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 8px 8px 0px;
    color: #469165;
    margin: 0 auto;
    margin-bottom: 16px;
    cursor: pointer;
    display: flex;
    gap: 6px;
}

.hero-top-btn .hero-top-btn-icon {
    margin-left: 12px;
}

.hero-top-btn:hover {
    background-color: rgb(255, 255, 255);
}


.hero-heading {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.hero-heading h1 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 84px;
}

.hero-heading h1 span {
    color: #30B868;
}

.hero-info p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 32px;
    margin-bottom: 32px;
}

.hero-bottom-btn {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.hero-bottom-btn-one {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 16.5px 16px 16.5px 16px;
    margin-bottom: 3px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.hero-bottom-btn-one * {
    display: block;
}

.hero-bottom-btn-one span {
    margin-top: 2px;
}

.hero-bottom-btn-one img {
    width: 20px;
    height: 20px;
}

.hero-bottom-btn .hero-bottom-btn-one:hover {
    box-shadow: 0px 10px 20px 0px rgb(255, 255, 255, .10);
}

.hero-bottom-btn .hero-bottom-btn-two {
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 16.5px 16px 16.5px 16px;
    margin-bottom: 3px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.hero-bottom-btn-two img {
    margin-top: -1px;
}

.hero-bottom-btn-two:hover {
    box-shadow: 0px 10px 20px 0px #30B8681a;
}


/* Challenges section design */
.challenges {
    padding: 0px 120px;
}

.challenges .challenges-header {
    width: 1360px;
    height: 152px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 44px;
}

.challenges .challenges-header .challenges-header-text {
    width: 100%;
}

.challenges .challenges-header h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}



.challenges .challenges-header .challenges-header-text p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

/* card section design */
.challenges-cards {
    width: 1360px;
    display: flex;
    gap: 24px;
}

.challenges-cards .card {
    width: 322px;
    margin-bottom: 2px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);

}

.challenges-cards .card h3 {
    width: 274px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.challenges-cards .card p {
    width: 274px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
}

.challenges-cards .card img {
    margin: 69.5px 131px 16px 131px
}

.challenges-cards .card-four img {
    margin: 55px 131px 16px 131px
}


/* solution section design */

.solution-container {
    width: 1360px;
    padding: 120px 0;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.solution-text {
    margin-top: 102px;
}

.solution-container .solution-text .solution-text-top {
    margin-bottom: 40px;
}

.solution-container .solution-text {
    width: 700px;

}


.solution-container .solution-img {
    width: 600px;
    height: 600px;
}

.solution-text .solution-paraone {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;

}

.solution-text .solution-text-top h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.solution-text .solution-paratwo {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}



.solution-text .solution-text-list li {
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.solution-text .solution-text-list img {
    margin: 3.75px;
}

/* early access section design */

.early-access-container {
    width: 100%;
    max-width: 1600px;
    padding: 2px 120px 120px 120px;

}

.early-access-container .early-access-content {
    width: 1360px;
    background-color: #F7F6F2;
    padding: 80px 0;
}

.early-access-content-heading {
    margin: 0 auto 24px auto;
    width: 1280px;

}

.early-access-content h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.early-access-content p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
}

.early-access-content-access {
    width: 1280px;
    margin: 0 auto;
}

.early-access-content-access .hero-bottom-btn-one {

    margin: 0 auto;
    background-color: #469165;
    margin-bottom: 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.early-access-content-access .hero-bottom-btn-one:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);

}


/* footer design */


footer {
    width: 100%;
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 30px;
}

.social-content {
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;

}

.social-content .company-logo {
    width: 350px;
}

.social-content .social-links {
    width: 220px;
}

.social-links p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-links li {
    list-style-type: none;
}

.social-links ul {
    display: flex;
    gap: 16px;
}

.copyright {
    width: 1360px;
    height: 46px;
    margin: 80px auto 0 auto;
    border-top: 1px solid #536374;
    display: flex;
    justify-content: center;
    align-items: end;
}

.copyright small {
    color: white;
}